**/__pycache__/
.pytest_cache/
.uv_cache/
.venv/
testFile.md
modifiedTestFile.md
utils/errorNewText.txt
utils/errorOldText.txt
.env
.aider*
habits.json
read_wikilinks.txt
audio_hashes.json

logs/*

logs/
**/node_modules/
